out
pretrained_weights/swin_unetr.base_5000ep_f48_lr2e-4_pretrained.pt
pretrained_weights/Genesis_Chest_CT.pt
pretrained_weights/swinunetr.pth
clip/
universal/
# ignore pycache in all directories
__pycache__/
dataset/__pycache__/dataloader.cpython-38.pyc
__pycache__/
dataset/__pycache__/dataloader.cpython-38.pyc
optimizers/__pycache__/lr_scheduler.cpython-38.pyc
pretrained_weights/swinunetr.pth.1
